# This is Git's per-user configuration file.
[user]
	name = lebogang nkoane
	email = 1555646+nkoane@users.noreply.github.com
[credential]
	helper = osxkeychain
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[init]
	defaultBranch = main
[alias]
	hist = log --pretty=format:'%C(yellow)[%ad]%C(reset) %C(green)[%h]%C(reset) | %C(red)%s %C(bold red)<%an>%C(reset) %C(blue)%d%C(reset)' --graph --date=short
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset'
	co = checkout
	br = branch
	ci = commit
	st = status
[core]
	excludesfile = /Users/ltdn/.gitignore_global
	editor = hx
	pager = delta 
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[commit]
	template = /Users/ltdn/.stCommitMsg
[push]
	autoSetupRemote = true
[color]
	ui = auto
[pull]
	rebase = false

[interactive]
	diffFilter = delta --color-only --features=interactive
[include]
	path = ~/.config/delta/themes.gitconfig
[delta]
    features = mellow-barbet
	true-color = always
	line-numbers = true

[delta "interactive"]
    keep-plus-minus-markers = false

[delta "decorations"]
    commit-decoration-style = blue ol
    commit-style = raw
    file-style = omit
    hunk-header-decoration-style = blue box
    hunk-header-file-style = red
    hunk-header-line-number-style = "#067a00"
    hunk-header-style = file line-number syntax


